<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>filter.FliterText</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/filter</url-pattern>
		<url-pattern>/main.jsp</url-pattern>
		<url-pattern>/add.jsp</url-pattern>
		<url-pattern>/edit.jsp</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>action.StuServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
